<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPage">
	
	<select id="getBasketClass" resultType="ClassInfoDto" parameterType="int">
		SELECT * FROM CLASS_INFO WHERE CLASS_NUM IN(SELECT CLASS_NUM FROM BASKET WHERE USER_NUM = #{user_num})
	</select>
	
	<select id="getSubscribe" resultType="ClassInfoDto" parameterType="int">
		SELECT * FROM CLASS_INFO WHERE CLASS_NUM IN(SELECT CLASS_NUM FROM SUBSCRIBE WHERE USER_NUM = #{user_num})
	</select>
	
	<select id="getSubRoadmap" resultType="ClassInfoDto" parameterType="int">
		SELECT * FROM ROADMAP_INFO WHERE ROADMAP_NUM IN(SELECT ROADMAP_NUM FROM ROADMAP_SUBSCRIBE WHERE USER_NUM = #{user_num})
	</select>
	
	<select id="getQA" resultType="QADto" parameterType="int">
		<![CDATA[ SELECT * FROM QA WHERE USER_NUM = #{user_num} ORDER BY QA_NUM DESC ]]>
	</select>
	
	<select id="getPreBasketClass" resultType="ClassInfoDto" parameterType="int">
		<![CDATA[ SELECT * FROM CLASS_INFO WHERE CLASS_NUM IN(SELECT CLASS_NUM FROM BASKET WHERE USER_NUM = #{user_num}) AND ROWNUM < 6 ]]>
	</select>
	
	<select id="getPreSubscribe" resultType="ClassInfoDto" parameterType="int">
		<![CDATA[ SELECT * FROM CLASS_INFO WHERE CLASS_NUM IN(SELECT CLASS_NUM FROM SUBSCRIBE WHERE USER_NUM = #{user_num}) AND ROWNUM < 6 ]]>
	</select>
	
	<select id="getPreSubRoadmap" resultType="RoadMapDto" parameterType="int">
		<![CDATA[ SELECT * FROM ROADMAP_INFO WHERE ROADMAP_NUM IN(SELECT ROADMAP_NUM FROM ROADMAP_SUBSCRIBE WHERE USER_NUM = #{user_num}) AND  ROWNUM < 6 ]]>
	</select>
	 
	<select id="getPreQA" resultType="QADto" parameterType="int">
		<![CDATA[ SELECT * FROM QA WHERE USER_NUM = #{user_num} AND ROWNUM < 6 ORDER BY QA_NUM DESC ]]>
	</select>
	
</mapper>