<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="data">


	<select id="ClassInfoSelectlist" resultType="ClassInfoDto">
		SELECT * FROM CLASS_INFO
	</select>
	
	<select id="classinfoselectone" parameterType="map" resultType="ClassInfoDto">
   	  SELECT * FROM CLASS_INFO WHERE CLASS_NUM = #{class_num}
   </select>
	
	<select id="ClassDateSelectlist" resultType="ClassDataDto">
		SELECT * FROM CLASS_DATA
	</select>
	
	<!-- 해당 강좌 조회 -->
	<select id="ClassInfoSelectone" parameterType="int" resultType="ClassInfoDto">
		SELECT * FROM CLASS_INFO WHERE CLASS_NUM = #{class_num }
	</select>
	
	<!-- 강의 소개 페이지  -->
	<insert id="ClassInfoDtoInsert" parameterType="ClassInfoDto">
		INSERT INTO CLASS_INFO VALUES(CLASS_INFO_SQ.NEXTVAL, #{class_title }, #{class_author }, #{class_intro }, #{class_img }, #{class_live } ,0, #{class_price }, 0, #{class_studentlevel }, #{class_bcategory }, #{class_mcategory }, #{class_scategory })
	</insert>
	
	<!-- ================== CLASS_DATA 테이블 ================== -->
	
	<!-- 영상추가 첫번째 페이지 : 유튜브 영상만 추가 -->
	<insert id="ClassDataInsert" parameterType="ClassDataDto">
		INSERT INTO CLASS_DATA (CLASS_NUM, DATA_CHAPTER ,DATA_SUBHEAD, DATA_SQ, DATA_TITLE, DATA_YOUTUBE) VALUES(CLASS_INFO_SQ.CURRVAL, DATA_CHAPTER_SQ.NEXTVAL ,#{data_subhead }, #{data_sq }, #{data_title }, #{data_youtube })
	</insert>
	
	<!-- 영상추가 첫번째 페이지 : 직접 영상만 추가 -->
	<insert id="classDataSelfInsert" parameterType="ClassDataDto">
		INSERT INTO CLASS_DATA (CLASS_NUM, DATA_CHAPTER ,DATA_SUBHEAD, DATA_SQ, DATA_TITLE, DATA_DATA) VALUES(CLASS_INFO_SQ.CURRVAL, DATA_CHAPTER_SQ.NEXTVAL ,#{data_subhead }, #{data_sq }, #{data_title }, #{data_data })
	</insert>
	
	<!-- 영상추가 두번째 페이지 챕터안에 내용 추가 -->
	<insert id="ClassChapterDataInsert" parameterType="ClassDataDto">
		INSERT INTO CLASS_DATA (CLASS_NUM, DATA_CHAPTER ,DATA_SQ, DATA_TITLE, DATA_YOUTUBE) VALUES(CLASS_INFO_SQ.CURRVAL, DATA_CHAPTER_SQ.CURRVAL , #{data_sq }, #{data_title } , #{data_youtube })
	</insert>
	
	<!-- ================== CLASS_INTRODUCE 테이블 ================== -->
	
	<!-- 강좌 내용 DB추가 -->
	<insert id="ClassIntroduceInsert" parameterType="ClassIntroduceDto">
		INSERT INTO CLASS_INTRODUCE (CLASS_NUM, CLASS_CONTENT) VALUES(CLASS_INFO_SQ.CURRVAL, #{class_content })
	</insert>
	
	<!-- ================== CLASS_REVIEW 테이블 ================== -->
	<select id="classReviewSelectlist" resultType="classReviewDto" parameterType="map">
		SELECT * FROM CLASS_REVIEW  WHERE ClASS_NUM = (SELECT CLASS_NUM FROM CLASS_INFO WHERE CLASS_NUM = #{class_num }) ORDER BY QA_GROUPNO DESC, QA_GROUPSQ 
	</select>
	
	<select id="classReviewSelectOne" resultType="classReviewDto" parameterType="int">
		SELECT * FROM CLASS_REVIEW WHERE BOARD_NO = #{board_no }
	</select>

	<insert id="classReviewInsert" parameterType="classReviewDto">
		INSERT INTO CLASS_REVIEW VALUES(#{class_num }, BOARDNOSEQ_SQ.NEXTVAL, QA_GROUPNO_SQ.NEXTVAL, 1, 0, #{user_num }, #{review_content }, #{user_star } , #{user_nickname })
	</insert>
	
	<update id="classReviewUpdate" parameterType="classReviewDto">
		UPDATE CLASS_REVIEW SET REVIEW_CONTENT = #{review_content } WHERE BOARDNO = #{board_no }
	</update>
	
	<delete id="classReviewDelete" parameterType="int">
		DELETE FROM CLASS_REVIEW WHERE BOARD_NO = #{board_no }
	</delete>
	
	<insert id="classReviewInsertAnswer" parameterType="classReviewDto">
		INSERT INTO CLASS_REVIEW VALUES(#{class_num }, BOARD_NO_SQ.NEXTVAL,
										(SELECT QA_GROUPNO FROM CLASS_REVIEW WHERE BOARD_NO= #{board_no }),
									    (SELECT QA_GROUPSQ FROM CLASS_REVIEW WHERE BOARD_NO= #{board_no })+1, 
									    (SELECT QA_TITLETAB FROM CLASS_REVIEW WHERE BOARD_NO= #{board_no })+1,  
									    #{user_num }, #{review_content }, #{user_star}, #{user_nickname }) 
	</insert>
	
	<update id="classReviewUpdateAnswer" parameterType="int">
		UPDATE CLASS_REVIEW SET QA_GROUPSQ = QA_GROUPSQ + 1
		WHERE QA_GROUPSQ = (SELECT QA_GROUPNO FROM CLASS_REVIEW WHERE BOARD_NO = #{board_no })
		AND QA_GROUPSQ > (SELECT QA_GROUPSQ FROM CLASS_REVIEW WHERE BOARD_NO = #{board_no })
	</update>
	
	<!-- ================== Livepage & Mypage 테이블 ================== -->
	<select id="liveCalendar" resultType="LiveDto">
		SELECT * FROM LIVE
	</select>
	
	<select id="livePopup" resultType="ClassInfoDto">
		SELECT * FROM CLASS_INFO WHERE CLASS_NUM = (SELECT CLASS_NUM FROM LIVE WHERE LIVE_NUM = #{live_num})
	</select>
	
	<select id="getMyClass" resultType="ClassInfoDto" parameterType="int">
		SELECT * FROM CLASS_INFO WHERE USER_NUM = #{user_num}
	</select>
	
	<select id="getWishList" resultType="ClassInfoDto" parameterType="int">
		SELECT * FROM CLASS_INFO WHERE CLASS_NUM = (SELECT CLASS_NUM FROM BASKET WHERE USER_NUM = #{user_num})
	</select>
	
	<select id="getSubscribe" resultType="ClassInfoDto" parameterType="int">
		SELECT * FROM CLASS_INFO WHERE CLASS_NUM = (SELECT CLASS_NUM FROM SUBSCRIBE WHERE USER_NUM = #{user_num})
	</select>

</mapper>