        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        video {
            max-width: 100%;
            width: 100%
       }

        body {
            font: 13px Helvetica, Arial;
            background: sandybrown;
        }

        form {
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 85%;
            margin-right: .5%;
        }

        form button {
            width: 13.5%;
            background: rgb(255, 229, 52);
            border: none;
            border-radius: 0.2em;
            padding: 10px;
            font-weight: bold;
        }

        #videos{
            position: absolute;
            display: block;
            left: 0;
            top: 0;
        }

        #chat{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #messages {
            list-style-type: none;
            padding: 0;
        }
        
        #messages li {
            padding: 5px 10px;
            background: rgb(255, 229, 52);
            border-radius: 0.4em;
            font-size: 15px;
            display: block;
            max-width: 350px;
            margin: 5px;
            clear: both;
            word-break: break-all;
        }

        #messages p.nameSpace{
            display: inline-block;
            color: #999999;
        }

        #messages p.nameSpace:hover{
            cursor: grab;
        }

        #messages p.nameSpace:active{
            cursor: grabbing;
        }

        #messages li.other{
            float: left;
        }

        #messages li.me{
            background: white;
            float: right;
        }

        #messages li.server{
            text-align: center;
            max-width: 100%;
            background: green;
        }

        .div-chat-box {
            overflow-y: auto;
        }

        .clickMenu{
            position: absolute;
            background-color: #fff;
            width: 100px;
            height: 25px;
            left:50px;
        }
        

