main, body{
    height: 100%;
    width: 100%;
    background: #232323;
}

.container{
    width: 100%;
    margin: 0px;
}

.row{
	width: 100%;	
}

aside{
	padding-bottom: 25px;
	background: #232323;
}

#side_header_container {
	color: #fff;
	font-size: 1.5rem;
}

.page-out, .question {
	cursor: pointer;
}

#view_sidebar {
    background-color: #2c3e50;
    width: 200px;
    position: absolute;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left 0.5s ease;
    color: blue;
}


#view_sidebar.visible{
    left: 0px;
    transition: left 0.7s ease;
}

#header {
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 100%;
    transition: left 0.5s ease;
}

#main i {
	color: #fff;
	font-size: 3rem;
}

.out-menu {
	position: absolute;
	top: 0;
	right: 0;
}

#youtube-title {
	color: #fff;
	font-size: 2rem;
}

#content {
    display: block;
    position: absolute;
    right: 0px;
    width: 100%;
    padding-bottom: 54.25%;
    height: 0px;
}

.fa-bars {
    cursor: pointer;
    position: fixed;
    top: 0px;
    z-index: 9999;
}

#side_content_container {
    overflow-y: scroll;
}

.list-group-item{ cursor: pointer; }

#bookmark_group {
	position: absolute;
	right: 0;
	width: 100%;
}

#bookmark_btn {
	position: relative;
}

#paging{
	position : relative;
	left : 50%;
	transform : traslateX(-50%);
}

