 .btn-member{ 
 	background:#6372ff; 
 	color:#fff;
 		
 	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font-family: 'Raleway', sans-serif;
    margin:5px;
}

 
 .btn-member:hover{ 
 	background-color:white;  
 	color:#6372ff; 
 } 
 
 .form-control{
 	color:#6372ff;
 	margin: 2px;
 	padding: 6px 12px;
 	width:50em;
 	
 }
 
 .memberlabel{
 	font-family: 'Raleway', sans-serif;
 	font-size:20px;
 }
.memlabel{
	font-size:1em;
	color:#6372ff;
}
#form-group{
	float:left;
}
